@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  font-family: "Roboto", sans-serif;
  background-color: rgba(8, 8, 8, 0.89);
}

.navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  height: 50px;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  align-self: center;
}

.navbar li {
  margin: 0 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.navbar li:nth-child(2) {
  margin-top: -10px;
  margin-right: 70px;
}
.logo img {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

/*.translate-language {
  display: flex;
  padding-left: 10%;
  min-height: 5%;
}

.translate-language select {
  padding: 15px 50px;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 10px;
  background: transparent;
  color: #fff;
}*/

.buttons {
  background-color: #e50914;
  padding: 15px 25px;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  font-size: 20px;
}

.main {
  width: 100%;
  margin-top: -100px;
  background-size: cover;
  align-items: center;
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  background-position: center;
  min-height: 710px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./images/background.jpeg);
}

.area {
  color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}

.area h1 {
  font-size: 65px;
  font-weight: bolder;
  line-height: 70px;
  margin-top: 300px;
  margin-bottom: 80px;
}

.area h3 {
  margin-top: -30px;
  font-size: 29px;
  font-weight: normal;
  margin-bottom: 50px;
}

::placeholder {
  opacity: 1; /* Firefox */
}

.search {
  width: 60%;
  background-color: none;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 250px;
}
.search input[type="text"] {
  border-radius: 5px;
  background: transparent;
  border: 1px solid #fff;
  font-size: 25px;
  margin-right: 10px;
  color: #fff;
}

.box {
  width: 100%;
  min-height: 80px;

}

.try {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e50914;
  font-weight: 700;
  min-height: 80px;
  width: 50%;
  font-size: 30px;
  border-radius: 5px;
}

.area h4 {
  margin-top: 10px;
  font-weight: normal;
}
.container1 {
  width: 100%;
  min-height: 460px;
  background-color: black;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}

.container1 img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  object-fit: contain;
  object-position: center;
  align-self: center;

  max-width: 100%;
  height: 350px;
}

.container1 .image {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-self: center;
  object-fit: contain;
}

.text4 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: center;
  align-content: center;
}

.text4 h1 {
  font-size: 3rem;
  font-weight: bolder;
}
.text4 p {
  font-size: 2rem;
  margin-top: 5px;
}

.container1 .image4 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-self: center;
  object-fit: contain;
  margin-right: 150px;
}

.text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: center;
  align-content: center;
}
.text p {
  font-size: 2rem;
  margin-top: 5px;
}

.text h1 {
  font-size: 3rem;
  font-weight: bolder;
}

.question {
  width: 100%;
  min-height: 950px;
  background-color: #000;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.question h1 {
  text-align: center;
  color: white;
  margin-bottom: 50px;
  text-align: center;
  font-size: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quest {
  width: 70%;
  min-height: 100px;
  background-color: #303030;
  color: white;
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-align: left;
  flex-direction: row;
  margin: 5px 0;
}

.quest .textbox {
  display: flex;
  text-align: left;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
  font-size: 25px;
  margin: 0 30px;
  word-spacing: 5px;
  text-align: left;
}

.quest i {
  margin: 0 30px;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.quest:focus {
  background-color: red;
}

.search1 {
  width: 45%;
  background-color: none;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 150px;
}
.search1 input[type="text"] {
  border-radius: 5px;
  background: transparent;
  border: 1px solid #fff;
  font-size: 25px;
  margin-right: 10px;
  color: #fff;
}
.box1 {
  width: 100%;
  min-height: 80px;
}

.try1 {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #e50914;
  font-weight: 700;
  min-height: 80px;
  width: 50%;
  font-size: 30px;
  border-radius: 5px;
}


.question h4 {
  color: white;
  margin-top: -20px;
  padding-bottom: 40px;
  font-size: 25px;
  margin-top: 100px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 30px;
  background-color: black;
  margin-top: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.footercon {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
  background-color: transparent;
  margin-top: 50px;
  margin-bottom: 150px;
}

.footer .flex1 {
  color:#999;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50px;

}

.footer .flex1 h5 {
  font-size: 25px;
  margin-right: 1100px;
}

.footer .flex1 h5 span {
  font-size: 23px;
  text-decoration: underline;
}

.list1 {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: flex-start;
  align-self: center;
  justify-content: center;
  min-height: 30px;
  font-size: 13px;
  padding: 0px 150px;
  text-align: left;
}

.list1 li {
  font-size: 23px;
  margin: 7px -10px;
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: center;
  align-self: flex-start;
  justify-content: center;
}

.list1 li a {
  color: #999;
  text-decoration: underline;
  font-size: 20px;
}

li a {
  font-size: 19px;
  text-align: center;
  color: #999;
}
li a select {
  padding: 15px 50px;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 10px;
  background: transparent;
  color: #fff;
}


.footertxt {
  color:white;
  display:flex;
  flex-direction:row;
  align-items:flex-end;
  justify-content: flex-end;
}

.end h2 {
  min-height:50px;
  background-color: black;
  justify-content:space-around;
  align-items:flex-start;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  color:#999;
  margin-top:-60px;
  display:flex;
  flex-direction: row;
  font-size: 16px;
}

@media (min-width: 250px) and (max-width: 980px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
  }

  .area h1 {
    font-size: 40px;
    line-height:60px;
  }

  .area h3 {
    margin-top: 10px;
  }

  .container1 img {
    width: 60%;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-height: 250px;
    margin-bottom: 30px;

  }



  .search {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 50%;
    margin: 0 10px;
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
    margin:30px;
  }

  .try {
    width: 200px;
    margin: 0 10px;
    font-size: 17px;
    min-height: 50px;
  }

  .search1 {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 50%;
    margin: 0 50px;
  }

h4 {
  color:white;
}

  .box1 {
    width: 100%;
    margin:30px;
  }

  .try1 {
    width: 200px;
    margin: 0 10px;
    font-size:17px;
    min-height:50px;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text h1 {
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text p {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .quest .textbox {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .quest {
    width: 80%;
    min-height: 75px;
    margin-left: 10px;
    margin-right: 10px;
  }
}